

/* ----------------------------------
------------- Generales -------------
------------------------------------*/


:root {
    --primary: #464EB8;
    --ligth: #6E65FF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* align horizontal */
    align-items: center;
}

.logo img {
    width: 10rem;
    height: 10rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}


/* ----------------------------------
----------- Nav & Header ------------
------------------------------------*/


.navb {
    background-color: rgba(152, 0, 0, 1);
}

.navb .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.navb .menu li {
    list-style: none;
    color: rgb(0, 0, 0);
}

.navb .menu li a:hover {
    color: rgb(48, 48, 48);
    text-decoration: underline;
}

.navb .menu li a {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    width: 100%;
    color: black;
}

.container {
    width: 100%;
    padding: 0.5em;
}


/* ----------------------------------
------------- Nosotros --------------
------------------------------------*/


.nosotros {
    text-align: center;
    background-color: bisque;
    margin: 0.5rem;
    padding: 1rem;
}

.nosotros {
    text-align: center;
    display: flex;
}


/* ----------------------------------
--------------- Footer --------------
------------------------------------*/
=


footer {
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(166, 163, 163);
}

footer h4 {
    font-size: 1rem;
    font-weight: 600;
}

footer p {
    font-size: 0.8rem;
    font-weight: 300;
}